<a href="https://colab.research.google.com/github/Marceavila47/Talento_tech/blob/main/Laboratorio2_Taller_SQLite_jul10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INTRODUCCIÓN
Usaré esta notebook para proporcionar una introducción a SQL, lenguaje imprescindible para todo analista de datos.

Los sistemas gestores de bases de datos interpretan consultas escritas en lenguaje SQL, y así es como interactuamos y obtenemos datos de las bases de datos y aplicaciones.

SQL significa Structured Query Language (Lenguaje de consulta estructurado)
SQL permite acceder y manipular bases de datos
SQL es una herramienta simple para el análisis avanzado de datos
SQL no se usa sólo para manipular datos, sino también para administrar la misma base de datos, crear y modificar el diseño de objetos de la base de datos, como tablas. El elemento de SQL que se usa para crear y modificar objetos de base de datos se denomina lenguaje de definición de datos (DDL). Este curso no trata DDL.

En esta notebook veremos cómo trabajar/manipular tablas. Aprenderemos a usar SQL para interactuar con una base de datos de fútbol europeo y generar información interesante con sus datos.

La base de datos utilizada, pueder ser encontrada [aquí](https://www.kaggle.com/datasets/hugomathien/soccer)

Este ejercicio esta basado en el repositorio de (https://www.kaggle.com/code/gustavojaramillo/data-analysis-using-sql-espa-ol)

In [2]:
# Importar librerías
import pandas as pd
import sqlite3 # SQLite

In [3]:
# Lectura
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Los datos de entrada están disponibles en el directorio "drive"
# Se sugiere establecer la conexión con su drive personal

path = "/content/drive/MyDrive/Talento tech 2024/Laboratorio2/database.sqlite"

database = path + 'database.sqlite'

# Creamos la conexión con la BD y listaremos las tablas con las que contamos

conn = sqlite3.connect(database)
print ("Conexión exitosa")

print (database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

#Tarea: consultar que el * funcione para dataframe pandas

Conexión exitosa
/content/drive/MyDrive/Talento tech 2024/Laboratorio2/database.sqlitedatabase.sqlite

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
query = 'SELECT * FROM \'Country\';'

countries = pd.read_sql(query, conn)
countries

DatabaseError: Execution failed on sql 'SELECT * FROM 'Country';': no such table: Country

In [14]:
#Consulta todas las ligas del futbol europeo
query = """SELECT *
            FROM League; """

#No modificar lo siguiente:
leagues = pd.read_sql(query, conn)
leagues

NameError: name 'conn' is not defined

In [15]:
#Consulta de solo los jugadores unicos de la tabla Player
query = """SELECT DISTINCT player_name
            FROM Player; """

#creo una variable para players_distinct que almacene jugadores unicos
players_distinct = pd.read_sql(query, conn)
players_distinct

NameError: name 'conn' is not defined

In [16]:
query = """SELECT DISTINCT season
          FROM Match;"""

seasons = pd.read_sql(query, conn)
seasons
# Ls temporadas de analisis son 8, comprendidas entre los años 2008 y 2016

NameError: name 'conn' is not defined

In [18]:
#Listar las temporadas jugadas de esta Base de Datos

query = """SELECT DISTINCT season
FROM Match;"""
seasons = pd.read_sql(query, conn)
seasons

NameError: name 'conn' is not defined

In [19]:
#Ingrese la la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

query = """SELECT DISTINCT overall_rating
            FROM Player_Attributes;"""


overall_rating = pd.read_sql(query, conn)
overall_rating

NameError: name 'conn' is not defined

In [20]:
query = """
SELECT id, player_name, birthday, height, weight
FROM Player
LIMIT 15;
"""
players = pd.read_sql(query, conn)
players

NameError: name 'conn' is not defined

In [ ]:
#Ingrese la la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

query = """SELECT *
            FROM Team"""

#No modificar lo siguiente:
teams = pd.read_sql(query, conn)
teams

DatabaseError: Execution failed on sql 'SELECT *
            FROM Team': no such table: Team

In [4]:
query = """ SELECT season,
            Country.name                          AS Country,
            League.name                           AS League,
            ROUND(AVG(Match.home_team_goal),2)    AS avg_local_goals,    --Promedio goles locales
            ROUND(AVG(Match.away_team_goal),2)    AS avg_visitor_goals,  --Promedio goles visitantes
            SUM(home_team_goal + away_team_goal)  AS total_goals
        FROM Match
            JOIN Country ON Country.id = Match.country_id
            JOIN League ON League.id = Match.league_id
        WHERE Country.name IN ('Spain', 'France', 'England')
        GROUP BY season, League
        HAVING avg_local_goals BETWEEN 1.4 AND 1.6 AND avg_visitor_goals BETWEEN 1.2 AND 1.6
        ORDER BY season DESC;"""

goals_by_season = pd.read_sql(query, conn)
goals_by_season

NameError: name 'conn' is not defined

In [ ]:
query = """
SELECT COUNT(DISTINCT name)
FROM Country;
"""

#No modificar lo siguiente:
count_countries = pd.read_sql(query, conn)
count_countries

DatabaseError: Execution failed on sql '
SELECT COUNT(DISTINCT name)
FROM Country;
': no such table: Country

In [ ]:
query = """SELECT stage
            FROM Match;"""

#No modificar lo siguiente:
countdis_stages = pd.read_sql(query, conn)
countdis_stages

DatabaseError: Execution failed on sql 'SELECT stage
            FROM Match;': no such table: Match

In [ ]:
Traer el número de etapas jugadas de la tabla Match
query = """SELECT stage
            FROM Match;"""

#No modificar lo siguiente:
countdis_stages = pd.read_sql(query, conn)
countdis_stages

In [ ]:
#Traer la suma de goles hechos por los equipos visitantes de la tabla Match
query = """SELECT away_team_goal
            FROM Match;"""

#No modificar lo siguiente:
sum_awayteam = pd.read_sql(query, conn)
sum_awayteam

DatabaseError: Execution failed on sql 'SELECT away_team_goal
            FROM Match;': no such table: Match

In [ ]:
#raer el promedio de goles hechos por los equipos locales y el promedio de goles hechos por los visitantes de la tabla Match¶
query = """SELECT avg(home_team_goal), avg(away_team_goal)
            FROM Match;"""
#No modificar lo siguiente:
avg_teamgoals = pd.read_sql(query, conn)
avg_teamgoals

DatabaseError: Execution failed on sql 'SELECT avg(home_team_goal), avg(away_team_goal)
            FROM Match;': no such table: Match

In [ ]:
#Traer la máxima cantidad de goles que un equipo visitante anotó en los juegos de la tabla Match¶
query = """Select max(away_team_goal)
            FROM Match;"""

#No modificar lo siguiente:
max_teamgoals = pd.read_sql(query, conn)
max_teamgoals

DatabaseError: Execution failed on sql 'Select(away_team_goal)
            FROM Match;': no such table: Match

In [ ]:
#Traer el promedio de goles por partido de la tabla Match
query = """SELECT avg(home_team_goal + away_team_goal)
            FROM Match;"""

#No modificar lo siguiente:
avg_sum_goals = pd.read_sql(query, conn)
avg_sum_goals

In [ ]:
# Listar los jugadores que pesan 165 libras
query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight = 165
        LIMIT 15;"""

players_weight = pd.read_sql(query, conn)
players_weight

DatabaseError: Execution failed on sql 'SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight = 165
        LIMIT 15;': no such table: Player

In [ ]:
# Listar las temporadas en que un equipo visitante anotó 7 o más goles
query = """SELECT (season, home_team_goal, away_team_goal)
            FROM Match
            WHERE away_team_goal >= 7;"""

#No modificar lo siguiente:
away_team_goals = pd.read_sql(query, conn)
away_team_goals

DatabaseError: Execution failed on sql 'SELECT (season, home_team_goal, away_team_goal)
            FROM Match
            WHERE away_team_goal >= 7;': no such table: Match

In [ ]:
#Traer el Id de los equipos que desarrollan un dribbling normal y su velocidad de juego es balanceada
query = """Select (id, buildUpPlaySpeed, buildUpPlayDribbling)
            FROM Team_Attributes
            WHERE buildUpPlaySpeed = 'Balanced' AND buildUpPlayDribbling = 'Normal';"""

#No modificar lo siguiente:
team_att_and = pd.read_sql(query, conn)
team_att_and

In [ ]:
#Traer el Id de los equipos que desarrollan un juego de pase largo o su velocidad de juego es rápida

query = """Select (id, buildUpPlaySpeed, buildUpPlayPassing,buildUpPlaySpeedClass)
            FROM Team_Attributes
            WHERE buildUpPlayPassing = 'Long' OR buildUpPlaySpeed = 'Fast';"""

#No modificar lo siguiente:
team_att_or = pd.read_sql(query, conn)
team_att_or

In [6]:
#Traer la tabla de países sin Bélgica

query = """Select Country.name
            FROM Country
            WHERE NOT Country.name = 'Belgium';"""

#No modificar lo siguiente:
countries_not = pd.read_sql(query, conn)
countries_not

NameError: name 'conn' is not defined

In [8]:
#6.4.1 Práctica: Traer la tabla de países únicamente con Italia
query = """Select Country.name
            FROM Country
            WHERE Country.name = 'Italy';"""

#No modificar lo siguiente:
countries_italy = pd.read_sql(query, conn)
countries_italy

SyntaxError: invalid syntax (<ipython-input-8-5cc756d0121a>, line 1)

In [9]:
#6.4.2 Práctica: Traer la tabla de países sin Polonia
query = """Select Country.name
            FROM Country
            WHERE Country.name != 'Poland';"""

#No modificar lo siguiente:
countries_not_poland = pd.read_sql(query, conn)
countries_not_poland

NameError: name 'conn' is not defined

In [10]:
# 6.4.3 Práctica: Listar los jugadores que pesen entre 174 y 176 libras
query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight BETWEEN 174 AND 176
        LIMIT 15;"""

players_weight = pd.read_sql(query, conn)
players_weight

NameError: name 'conn' is not defined

In [11]:
#6.4.4 Práctica: Listar a los Messi de la base de datos de jugadores
query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE player_name = 'Lionel Messi'
        LIMIT 15;"""

players_messi = pd.read_sql(query, conn)
players_messi

NameError: name 'conn' is not defined

In [14]:
#7.1.1 Ejemplo: Listar a los equipos y ordenarlos por nombre
query = """SELECT id, team_long_name AS team_name
            FROM Team
            ORDER BY team_long_name ASC
            LIMIT 250;|"""
#No modificar lo siguiente:
teams_orderby = pd.read_sql(query, conn)
teams_orderby

NameError: name 'conn' is not defined

In [ ]:
# 7.1.2 Listar la tabla de países en orden descendente
query = """SELECT name
            FROM Country
            ORDER BY name DESC;"""

#No modificar lo siguiente:
countries_orderby = pd.read_sql(query, conn)
countries_orderby

In [ ]:
#7.1.3 Listar el id de los 15 jugadores con menos peso
query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        ORDER BY weight ASC
        LIMIT 15;"""

players_weightasc = pd.read_sql(query, conn)
players_weightasc

In [15]:
#7.1.4 Práctica: Listar el id de los 10 jugadores con mayor estatura
query = """SELECT id, player_name,height
        FROM Player
        ORDER BY height DESC
        LIMIT 10;"""

players_heightdesc = pd.read_sql(query, conn)
players_heightdesc

NameError: name 'conn' is not defined

In [ ]:
#7.1.5 Listar el id de los 10 jugadores con mayor estatura y ordenarlos alfabéticamente pero de forma descendente
query = """SELECT id, player_name,height
        FROM Player
        ORDER BY height DESC, player_name ASC
        LIMIT 10;"""

players_height = pd.read_sql(query, conn)
players_height

In [ ]:
# 8.1.1  Queremos conocer cuántos equipos tienen cada tipo de velocidad de juego
query = """SELECT buildUpPlaySpeedClass, COUNT(id)
            FROM Team_Attributes
            GROUP BY buildUpPlaySpeedClass;"""
teams_speed = pd.read_sql(query, conn)
teams_speed

In [ ]:
#8.1.2 Práctica: Queremos conocer cuántos equipos tienen cada clase de juego defensivo
query = """SELECT DefensePressureClass = 'Medium', DefensePressureClass = 'Deep', DefensePressureClass = 'High' , COUNT(id)
            FROM Team_Attributes
            GROUP BY buildUpPlayDribblingClass;"""
teams_dribbling = pd.read_sql(query, conn)
teams_dribbling

In [17]:
#8.1.3 Práctica: Analítica básica de las temporadas
query = """SELECT stage AS number_of_stages, AVG(home_team_goal) AS avg_home_team_goals, AVG(away_team_goal) AS avg_away_team_goals
            FROM Match
            where (home_team_goal + away_team_goal) > 7
            GROUP BY season;"""
matches_season = pd.read_sql(query, conn)
matches_season

NameError: name 'conn' is not defined

In [18]:
#9.1 Tipos de JOIN
#9.2.1 Ejemplo: Lista de ligas y su país
query = """SELECT L.id AS Id_League, L.name AS Nombre_League, C.name AS Pais
        FROM League AS L
        JOIN Country AS C ON C.id = L.country_id;"""

country_leagues = pd.read_sql(query, conn)
country_leagues

NameError: name 'conn' is not defined

In [ ]:
#9.2.2 Práctica: Comparación de cantidad de partidos jugados en cierta temporada de España y Bélgica
query =

country_matches = pd.read_sql(query, conn)
country_matches

In [ ]:
from typing import Match
#9.2.3 Práctica: Lista detallada de juegos

query = """Select id, country.name AS country_name, league.name AS league_name, stage, season, date, home_team_goal, away_team_goal, team_long_name AS home_team, team_long_name AS away_team
            FROM Match
            JOIN Country ON Country.id = Match.country_id
            JOIN League ON League.id = Match.league_id;"""
            JOIN Team ON Team.team_api_id = Match.home_team_api_id;"""
            JOIN Team ON Team.team_api_id = Match.away_team_api_id;"""
# no modificar lo siguiente
detailed_matches = pd.read_sql(query, conn)
detailed_matches

In [19]:
#10.1.1 Ejemplo: Análisis de goles por temporada en las ligas de España, Francia e Inglaterra
query = """SELECT season,
            Country.name AS Country,
            League.name AS League,
            ROUND(AVG(Match.home_team_goal),2) AS avg_local_goals,
            ROUND(AVG(Match.away_team_goal),2) AS avg_visitor_goals,
            SUM(home_team_goal+away_team_goal) AS total_goals
        FROM Match
        JOIN Country ON Country.id = Match.country_id
        JOIN League ON League.id = Match.league_id
        WHERE Country.name IN ('Spain', 'France', 'England')
        GROUP BY season, League
        HAVING avg_local_goals BETWEEN 1.4 AND 1.6 AND avg_visitor_goals BETWEEN 1.2 AND 1.6
        ORDER BY season DESC;"""

goals_by_season = pd.read_sql(query, conn)
goals_by_season

NameError: name 'conn' is not defined

In [ ]:
#10.1.2 Práctica: Nos basaremos en ejemplo "Lista detallada de juegos", pero eliminaremos la información del partido y fechas, para comparar las ligas por temporadas
query ="""SELECT
    l.name AS league_name,
    m.season AS season,
    AVG(m.home_team_goal + m.away_team_goal) AS avg_goals_per_match
FROM
    Match m
JOIN
    Country c ON m.country_id = c.id
JOIN
    League l ON m.league_id = l.id
WHERE
    c.name IN ('Spain', 'Germany', 'France', 'Italy', 'England')
GROUP BY
    l.name, m.season
HAVING
    AVG(m.home_team_goal + m.away_team_goal) > 2.5
ORDER BY
    avg_goals_per_match DESC;"""


#No modificar lo siguiente:
leages_by_season = pd.read_sql(query, conn)
leages_by_season

In [ ]:
#10.1.3 Práctica: Análisis sobre los equipos que más goles realizaron jugando como locales
query = """

teams_by_season = pd.read_sql(query, conn)
teams_by_season

In [3]:
#10.1.4 Práctica: Análisis del cambio en overall rating y potential de Cristiano Ronaldo por edad.
query =""" SELECT player_name, overall_rating, potential, date AS RatingDate
FROM Player_Attributes,Player
WHERE player_name = 'Cristiano Ronaldo'
 ;"""


#No modificar lo siguiente:
ratingCristiano = pd.read_sql(query, conn)
ratingCristiano

NameError: name 'conn' is not defined

In [5]:
#12.1 Ejemplo: Queremos una tabla que me indique los partidos jugados por el FC Barcelona, su rival, la fecha de juego y si perdió, ganó o empato
query= """SELECT DATE(Match.date) as MatchDate,
                Home.team_long_name AS  HomeTeam,
                home_team_goal AS Home_goals,
                Visitor.team_long_name AS VisitorTeam,
                away_team_goal Visitor_goals,
                CASE
                    WHEN Home.team_api_id = 8634 AND home_team_goal < away_team_goal THEN 'Barca lost :('
                    WHEN Home.team_api_id = 8634 AND home_team_goal > away_team_goal THEN 'Barca won'
                    WHEN Visitor.team_api_id = 8634 AND home_team_goal < away_team_goal THEN 'Barca won'
                    WHEN Visitor.team_api_id = 8634 AND home_team_goal > away_team_goal THEN 'Barca lost :('
                    ELSE 'Tie'
                END AS Outcome
        FROM Match
        LEFT JOIN Team AS Home on Home.team_api_id = Match.home_team_api_id
        LEFT JOIN Team AS Visitor on Visitor.team_api_id = Match.away_team_api_id
        WHERE (Visitor.team_api_id = 8634 OR Home.team_api_id = 8634) AND season = "2012/2013"
        Order by MatchDate DESC
        LIMIT 15;"""

Barca_results = pd.read_sql(query, conn)
Barca_results

NameError: name 'conn' is not defined

In [ ]:
#12.2 Práctica: Queremos una tabla que me indique los partidos jugados por el FC Barcelona como local contra el Real Madrid CF, la fecha de juego y si perdió, ganó o empató.
query = """SELECT
    date AS fecha_de_juego,
    CASE
        WHEN home_team_goal > away_team_goal THEN 'Won'
        WHEN home_team_goal < away_team_goal THEN 'Lost'
        ELSE 'Tie'
    END AS Results
FROM
    Match
WHERE
    (home_team_api_id = (SELECT team_api_id FROM Team WHERE team_long_name = 'FC Barcelona'))
    AND
    (away_team_api_id = (SELECT team_api_id FROM Team WHERE team_long_name = 'Real Madrid CF'))
ORDER BY
    date;

BarcaMadrid_results = pd.read_sql(query, conn)
BarcaMadrid_results

In [ ]:
13.1 Ejemplo: Rating de Cristiano Ronaldo y Lionel Messi versus los demás jugadores.
query = """SELECT CASE
                   WHEN player_name = 'Cristiano Ronaldo' THEN 'Cristiano Ronaldo'
                   WHEN player_name = 'Lionel Messi' THEN 'Lionel Messi'
                   ELSE 'Others'
                   END AS Player,
           PA_Grouped.avg_overall_rating AS avg_overall_rating,
           PA_Grouped.avg_potential AS avg_potential
           FROM Player
           LEFT JOIN
                    (SELECT Player_Attributes.player_api_id,
                         ROUND(avg(Player_Attributes.overall_rating),2) AS avg_overall_rating,
                         ROUND(avg(Player_Attributes.potential),2) AS avg_potential
                     FROM Player_Attributes
                     GROUP BY Player_Attributes.player_api_id)
                    AS PA_Grouped
           ON Player.player_api_id = PA_Grouped.player_api_id
           GROUP BY Player
           ORDER BY Player;"""

players_rating = pd.read_sql(query, conn)
players_rating

In [ ]:
#13.2 Práctica: Comparación de tipo de juego entre el FC Barcelona y Real Madrid FC - SUB QUERY
SELECT
    ta.date AS RatingDate,
    ta.team_api_id AS TeamID,
    t.team_long_name AS Team,
    -- Clasificación para buildUpPlaySpeed
    CASE
        WHEN ta.buildUpPlaySpeed >= 70 THEN 'Fast'
        WHEN ta.buildUpPlaySpeed <= 30 THEN 'Slow'
        ELSE 'Balanced'
    END AS PlaySpeed,
    -- Clasificación para buildUpPlayPassing
    CASE
        WHEN ta.buildUpPlayPassing >= 70 THEN 'Long'
        WHEN ta.buildUpPlayPassing <= 30 THEN 'Short'
        ELSE 'Mixed'
    END AS PlayPassing,
    -- Clasificación para chanceCreationShooting
    CASE
        WHEN ta.chanceCreationShooting >= 68 THEN 'Lots'
        WHEN ta.chanceCreationShooting <= 30 THEN 'Little'
        ELSE 'Normal'
    END AS CreationShooting
FROM
    Team_Attributes ta
JOIN
    Team t ON ta.team_api_id = t.team_api_id
ORDER BY
    RatingDate, TeamID;

In [ ]:
#13.3 Práctica: Comparación de tipo de juego entre el FC Barcelona y Real Madrid FC - WHERE
query=



#No modificar lo siguiente:

subquery2 = pd.read_sql(query, conn)
subquery2