<a href="https://colab.research.google.com/github/Marceavila47/Talento_tech/blob/main/Laboratorio2_Taller_SQLite_jul07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INTRODUCCIÓN
Usaré esta notebook para proporcionar una introducción a SQL, lenguaje imprescindible para todo analista de datos.

Los sistemas gestores de bases de datos interpretan consultas escritas en lenguaje SQL, y así es como interactuamos y obtenemos datos de las bases de datos y aplicaciones.

SQL significa Structured Query Language (Lenguaje de consulta estructurado)
SQL permite acceder y manipular bases de datos
SQL es una herramienta simple para el análisis avanzado de datos
SQL no se usa sólo para manipular datos, sino también para administrar la misma base de datos, crear y modificar el diseño de objetos de la base de datos, como tablas. El elemento de SQL que se usa para crear y modificar objetos de base de datos se denomina lenguaje de definición de datos (DDL). Este curso no trata DDL.

En esta notebook veremos cómo trabajar/manipular tablas. Aprenderemos a usar SQL para interactuar con una base de datos de fútbol europeo y generar información interesante con sus datos.

La base de datos utilizada, pueder ser encontrada [aquí](https://www.kaggle.com/datasets/hugomathien/soccer)

Este ejercicio esta basado en el repositorio de (https://www.kaggle.com/code/gustavojaramillo/data-analysis-using-sql-espa-ol)

In [11]:
# Importar librerías
import pandas as pd
import sqlite3 # SQLite

In [12]:
# Lectura
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Los datos de entrada están disponibles en el directorio "drive"
# Se sugiere establecer la conexión con su drive personal

path = "/content/drive/MyDrive/Talento tech 2024/Laboratorio2/database.sqlite"

database = path + 'database.sqlite'

# Creamos la conexión con la BD y listaremos las tablas con las que contamos

conn = sqlite3.connect(database)
print ("Conexión exitosa")

print (database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

#Tarea: consultar que el * funcione para dataframe pandas

Conexión exitosa
/content/drive/MyDrive/Talento tech 2024/Laboratorio2/database.sqlitedatabase.sqlite

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
query = 'SELECT * FROM \'Country\';'

countries = pd.read_sql(query, conn)
countries

NameError: name 'conn' is not defined

In [14]:
#Consulta todas las ligas del futbol europeo
query = """SELECT *
            FROM League; """

#No modificar lo siguiente:
leagues = pd.read_sql(query, conn)
leagues

NameError: name 'conn' is not defined

In [15]:
#Consulta de solo los jugadores unicos de la tabla Player
query = """SELECT DISTINCT player_name
            FROM Player; """

#creo una variable para players_distinct que almacene jugadores unicos
players_distinct = pd.read_sql(query, conn)
players_distinct

NameError: name 'conn' is not defined

In [16]:
query = """SELECT DISTINCT season
          FROM Match;"""

seasons = pd.read_sql(query, conn)
seasons
# Ls temporadas de analisis son 8, comprendidas entre los años 2008 y 2016

NameError: name 'conn' is not defined

In [18]:
#Listar las temporadas jugadas de esta Base de Datos

query = """SELECT DISTINCT season
FROM Match;"""
seasons = pd.read_sql(query, conn)
seasons

NameError: name 'conn' is not defined

In [19]:
#Ingrese la la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

query = """SELECT DISTINCT overall_rating
            FROM Player_Attributes;"""


overall_rating = pd.read_sql(query, conn)
overall_rating

NameError: name 'conn' is not defined

In [20]:
query = """
SELECT id, player_name, birthday, height, weight
FROM Player
LIMIT 15;
"""
players = pd.read_sql(query, conn)
players

NameError: name 'conn' is not defined

In [ ]:
#Ingrese la la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

query = """SELECT *
            FROM Team"""

#No modificar lo siguiente:
teams = pd.read_sql(query, conn)
teams

DatabaseError: Execution failed on sql 'SELECT *
            FROM Team': no such table: Team

In [21]:
query = """ SELECT season,
            Country.name                          AS Country,
            League.name                           AS League,
            ROUND(AVG(Match.home_team_goal),2)    AS avg_local_goals,    --Promedio goles locales
            ROUND(AVG(Match.away_team_goal),2)    AS avg_visitor_goals,  --Promedio goles visitantes
            SUM(home_team_goal + away_team_goal)  AS total_goals
        FROM Match
            JOIN Country ON Country.id = Match.country_id
            JOIN League ON League.id = Match.league_id
        WHERE Country.name IN ('Spain', 'France', 'England')
        GROUP BY season, League
        HAVING avg_local_goals BETWEEN 1.4 AND 1.6 AND avg_visitor_goals BETWEEN 1.2 AND 1.6
        ORDER BY season DESC;"""

goals_by_season = pd.read_sql(query, conn)
goals_by_season

NameError: name 'conn' is not defined

In [ ]:
query = """
SELECT COUNT(DISTINCT name)
FROM Country;
"""

#No modificar lo siguiente:
count_countries = pd.read_sql(query, conn)
count_countries

DatabaseError: Execution failed on sql '
SELECT COUNT(DISTINCT name)
FROM Country;
': no such table: Country

In [ ]:
query = """SELECT stage
            FROM Match;"""

#No modificar lo siguiente:
countdis_stages = pd.read_sql(query, conn)
countdis_stages

DatabaseError: Execution failed on sql 'SELECT stage
            FROM Match;': no such table: Match

In [ ]:
Traer el número de etapas jugadas de la tabla Match
query = """SELECT stage
            FROM Match;"""

#No modificar lo siguiente:
countdis_stages = pd.read_sql(query, conn)
countdis_stages

In [ ]:
#Traer la suma de goles hechos por los equipos visitantes de la tabla Match
query = """SELECT away_team_goal
            FROM Match;"""

#No modificar lo siguiente:
sum_awayteam = pd.read_sql(query, conn)
sum_awayteam

DatabaseError: Execution failed on sql 'SELECT away_team_goal
            FROM Match;': no such table: Match

In [ ]:
#raer el promedio de goles hechos por los equipos locales y el promedio de goles hechos por los visitantes de la tabla Match¶
query = """SELECT avg(home_team_goal), avg(away_team_goal)
            FROM Match;"""
#No modificar lo siguiente:
avg_teamgoals = pd.read_sql(query, conn)
avg_teamgoals

DatabaseError: Execution failed on sql 'SELECT avg(home_team_goal), avg(away_team_goal)
            FROM Match;': no such table: Match

In [ ]:
#Traer la máxima cantidad de goles que un equipo visitante anotó en los juegos de la tabla Match¶
query = """Select max(away_team_goal)
            FROM Match;"""

#No modificar lo siguiente:
max_teamgoals = pd.read_sql(query, conn)
max_teamgoals

DatabaseError: Execution failed on sql 'Select(away_team_goal)
            FROM Match;': no such table: Match

In [ ]:
#Traer el promedio de goles por partido de la tabla Match
query = """SELECT avg(home_team_goal + away_team_goal)
            FROM Match;"""

#No modificar lo siguiente:
avg_sum_goals = pd.read_sql(query, conn)
avg_sum_goals

In [ ]:
# Listar los jugadores que pesan 165 libras
query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight = 165
        LIMIT 15;"""

players_weight = pd.read_sql(query, conn)
players_weight

DatabaseError: Execution failed on sql 'SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight = 165
        LIMIT 15;': no such table: Player

In [ ]:
# Listar las temporadas en que un equipo visitante anotó 7 o más goles
query = """SELECT (season, home_team_goal, away_team_goal)
            FROM Match
            WHERE away_team_goal >= 7;"""

#No modificar lo siguiente:
away_team_goals = pd.read_sql(query, conn)
away_team_goals

DatabaseError: Execution failed on sql 'SELECT (season, home_team_goal, away_team_goal)
            FROM Match
            WHERE away_team_goal >= 7;': no such table: Match

In [ ]:
#Traer el Id de los equipos que desarrollan un dribbling normal y su velocidad de juego es balanceada
query = """Select (id, buildUpPlaySpeed, buildUpPlayDribbling)
            FROM Team_Attributes
            WHERE buildUpPlaySpeed = 'Balanced' AND buildUpPlayDribbling = 'Normal';"""

#No modificar lo siguiente:
team_att_and = pd.read_sql(query, conn)
team_att_and

In [ ]:
#Traer el Id de los equipos que desarrollan un juego de pase largo o su velocidad de juego es rápida

query = """Select (id, buildUpPlaySpeed, buildUpPlayPassing,buildUpPlaySpeedClass)
            FROM Team_Attributes
            WHERE buildUpPlayPassing = 'Long' OR buildUpPlaySpeed = 'Fast';"""

#No modificar lo siguiente:
team_att_or = pd.read_sql(query, conn)
team_att_or